// variables
//colors
$main-black: #1b1b1b;
$main-gray: #8d959c;
$main-white: #fefefe;
$main-blue: #3657d3;

$transition: 0.2s ease-in-out;

//sizes
$screen-xl: 1920px;
$screen-lg: 1380px;
$screen-md: 768px;
$screen-sm: 480px;

// Small devices
@mixin sm {
  @media (max-width: $screen-sm) {
    @content;
  }
}
// Medium devices
@mixin md {
  @media (max-width: $screen-md) {
    @content;
  }
}

// Large devices
@mixin lg {
  @media (max-width: $screen-lg) {
    @content;
  }
}

// Custums mixin for rexponsive neadia screen
@mixin responsive($width) {
  @media (max-width: #{$width}px) {
    @content;
  }
}
