// variables
//colors
$main-black: #1b1b1b;
$main-gray: #8d959c;
$main-white: #fefefe;
$main-blue: #3657d3;

$transition: 0.2s ease-in-out;

//sizes
$xl: 1920px;
$lg: 1380px;
$md: 768px;
$sm: 480px;

// mixins
