*,
*::before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat";
}

.wrapper {
  max-width: $xl;
  margin: 0 auto;
  padding: 0 20px;
}

.container {
  max-width: $lg;
  margin: 0 auto;
}

.section:not(:last-child) {
  margin-bottom: 100px;
}
